{% extends 'base.html.twig' %}

{% block title %}Liste des Ingrédients{% endblock %}

{% block body %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .example-wrapper {
        margin: 1em auto;
        width: 95%;
        font: 18px/1.5 sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .example-wrapper code {
        background: #F5F5F5; padding: 2px 6px;
    }
    td, th, h1 {
        text-align: center;
    }
    header {
        background-color: black;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content :center;
    }
    header > h1{
    text-align: center;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    font-size: 3.2rem;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
    word-spacing: 0.1rem;
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
    /* Styles pour les boutons */
    .btn {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        border: none;
        font-weight: bold;
        cursor: pointer;
        margin: 10px 0 30px 0;
    }

    /* Style pour le bouton "Créer un Ingrédient" */
    .btn-success {
        background-color: black;
        color: white;
    }

    /* Style pour le bouton "Modifier" */
    .btn-primary {
        background-color: #2196F3;
        color: white;
        height: 30px;
    }

    /* Style pour le bouton "Supprimer" */
    .btn-danger {
        background-color: #f44336;
        color: white;
        height: 50px;
    }

    /* Au survol des boutons */
    .btn:hover {
        opacity: 0.8;
    }

    footer {
        background-color: black;
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer p {
        color: white;
        font-family: sans-serif;
    }

    table {
          border-collapse: collapse;
    }
    tr {
        border: 3px solid black;
    }
    th {
        border: 3px solid black;
        background-color: #c0c0c0;
    }
    .btn {
        margin-top: 25px;
    }
    .bg1 {
        background-color: #dbdbdb;
    }
    .bg2 {
        background-color: #f2f2f2;
    }
    .bg3 {
        background-color: #e2e2e2;
    }
    .bg4 {
        background-color: #d8d8d8;
    }
    .action {
        background-color: skyblue;
        border-left: 3px solid black;
    }
</style>

<header>
    <h1>Liste des Ingrédients</h1>
</header>

<a href="{{ path('app_logout') }}" class="btn">Se déconnecter</a>

<div class="example-wrapper">

 <!-- Bouton pour créer un nouvel ingrédient -->
    <a href="{{ path('ingredient.create') }}" class="btn btn-success">Créer un Ingrédient</a>

    <table>
        <thead>
            <tr>
                <th>n°</th>
                <th>Nom</th>
                <th>Prix (EUR)</th>
                <th>Date de création</th>
                <th>Actions</th> <!-- Nouvelle colonne pour les boutons -->
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td class="bg1">{{ ingredient.id }}</td>
                <td class="bg2">{{ ingredient.name }}</td>
                <td class="bg3">{{ ingredient.prix }}</td>
                <td class="bg4">{{ ingredient.createdAt|date("d/m/Y") }}</td>
                <td class="action">
                    <a href="{{ path('ingredient.edit', {'id': ingredient.id}) }}" class="btn btn-primary">Modifier</a>
                    <form method="post" action="{{ path('ingredient.delete', {'id': ingredient.id}) }}" style="display: inline;">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<footer>
    <p>Créé par Thibault Delattre</p>
</footer>
{% endblock %}